 /* reset 시작 */
 * { margin: 0%; padding: 0%; border-box; }
 body { color: #4d4d4d; font-size: 14px;}
 a { text-decoration: none; color: inherit;}
 li{ list-style: none;}
 img { border: 0;}
 /* reset끝 */
 body { color: #4d4d4d; font-size: 14px;}
 #wrap {
     background-color: #f1f1f1;
     padding: 16px;
 }
 #header {
     height: 150px;
     background-color: #fff;
     padding-top: 30px;
 }
 #top_title {
     height: 120px;
     text-align: center;
 }
 #top_menu {
     height: 30px;
     background-color: #333;
     color: #fff;
     font-size: 0;
     text-align: center;
 }
 #top_menu ul {
     display: inline-block;
     width: 30%;
     margin-right: 60%;
 }
 #top_menu ul li {
     display: inline-block;
     width: 33.3333%;
 }
 #top_menu > a {
     display: inline-block;
     width: 10%;
 }
 #top_menu a {
     font-size: 14px;
     line-height: 30px;
 }
 #containal {
     padding-top: 16px;
     font-size: 0;
     margin: 0 auto;
 }
 #left_content {
     vertical-align: top;
     font-size: 16px;
     display: inline-block;
     width: 75%;
     margin: 0 auto;
 }
 #right_content {
     vertical-align: top;
     font-size: 16px;
     display: inline-block;
     width: 24%;                                                                                                                                                                                                                                                                                                                                                                        %;
     padding-left: 16px;
     margin: 0 auto;
 }
 .white_box {
     background-color: #fff;
     padding: 16px;
     margin-bottom: 16px;
 }
 .graybg {
     background-color: #555;
     color: #fff;
     padding: 16px;

 }
 div.graybg {
     height: 160px;
     margin: 10px 0;
 }
 h2+ul {
     padding: 16px;
 }
 #footer {
     background-color: #4d4d4d;
     color: #fff;
     text-align: center;
     padding: 30px;
 }