* {margin: 0; padding: 0; box-sizing: border-box;}
a { text-decoration: none; color: inherit;}
li { list-style: none;}
#wrap {
    background: #f1f1f1;
    padding: 16px;
}
#header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 150px;
    background: #fff;
    text-align: center;
}
.front_head {
    height: 110px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.bottom_head {
    display: flex;
    justify-content: space-between;
    background: #333;
    color: #fff;
    line-height: 40px;
}
.bottom_head ul {
    display: flex;
}
.bottom_head li
.bottom_head a {
    padding: 0 20px;
}
#containal {
    display: flex;
    padding-top: 16px;
}
#left {
    width: 75%;
}
#right {
    width: 25%;
    padding-left: 16px;
}
.card {
    background: #fff;
    padding: 16px;
    margin-bottom: 16px;
}
.bg {
    background: #555;
    color: #fff;
    padding: 16px;
    margin: 16px 0;
}
div.bg {
    height: 150px;
}
ul.bg li {
    padding-bottom: 20px;
}
#footer {
    background: #333;
    text-align: center;
    padding: 20px;
    color: #fff;
}