@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=IBM+Plex+Sans+KR:wght@300&display=swap');
* { padding: 0; margin: 0; box-sizing: border-box; }
li { list-style: none; }
a { text-decoration: none; color: inherit; }
:root {
    --main-color: crimson;
}

body {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #222;
}
#wrap {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    height: 120px;
    align-items: center;
}
header ul {
    display: flex;
}
header ul li {
    background: var(--main-color);
    margin: 6px;
    padding: 8px 24px;
    border-radius: 6px;
    color: #fff;

}
footer {
    border-top: 1px solid #ccc;
    padding-top: 30px;
}
#content {
    padding: 80px 0 120px;
}
#content h2 {
    padding-top: 50px;
    padding-bottom: 30px;
    position: relative;
}
#content h2::after {
    content: "";
    display: block;
    position: absolute;
    background: var(--main-color);
    width: 50px;
    height: 4px;
    top: 30px;
    left: 0;
}
#content > ul > li {
    line-height: 40px;
    border-bottom: 1px dotted #ccc;
    padding-left: 20px;
}
#bookinfo ul {
    display: flex;
    padding: 30px 0;
}
#bookinfo ul li {
    background: var(--main-color);
    margin: 6px;
    padding: 8px 24px;
    border-radius: 6px;
    color: #fff;
}
#bookinfo input {
    border: none;
    outline: none;
    background: transparent;
    color: inherit;
    font-size: inherit;
}

#content table {
    width: 100%;
    border-top: 1px solid #ccc;
    border-collapse: collapse;
}
#content table td {
    border-bottom: 1px solid #ccc;
    padding: 16px;
}
#content table input {
    border: none;
    outline: none;
    background: rgb(252, 233, 236);
    width: 80%;
    line-height: 40px;
}
#content table textarea {
    border: none;
    outline: none;
    background: rgb(252, 233, 236);
    width: 80%;
    line-height: 40px;
}
#content table button {
    border: none;
    outline: none;
    background: var(--main-color);
    margin: 6px;
    padding: 8px 24px;
    border-radius: 6px;
    color: #fff;
}